@{
    ChooseYourShoes.Models.Users employeeDetails = new ChooseYourShoes.Models.Users(); 

    if (Session["USER_SESSION"] != null)
    {
        employeeDetails = (ChooseYourShoes.Models.Users)Session["USER_SESSION"];

        ChooseYourShoes.Repositories.UserSettings userSettings = new ChooseYourShoes.Repositories.UserSettings();  
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ChooseYourShoes</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr") 
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("CYS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
               
            </div> 
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li> 
                    <li class="btn-group">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Orders
                        </a>
                        <div class="dropdown-menu gb-dropdown-menu">
                            <a class="dropdown-item gb-dropdown-item" href="@Url.Action("RequestForm", "Order")">Order Request</a>
                            <div class="gb-dropdown-divider"></div>
                            <a class="dropdown-item gb-dropdown-item" href="@Url.Action("Index", "Order")">Pending Orders</a> 
                            <div class="gb-dropdown-divider"></div>
                            <a class="dropdown-item gb-dropdown-item" href="@Url.Action("Released", "Order")">Released Orders</a> 
                        </div>
                    </li>
                    <li class="btn-group">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Product Setup
                        </a>
                        <div class="dropdown-menu gb-dropdown-menu"> 
                            <a class="dropdown-item gb-dropdown-item" href="@Url.Action("Create", "Product")">New Product</a>
                            <div class="gb-dropdown-divider"></div>
                            <a class="dropdown-item gb-dropdown-item" href="@Url.Action("Index", "Product")">Product Maintenance</a>
                            <div class="gb-dropdown-divider"></div>
                            <a class="dropdown-item gb-dropdown-item" href="@Url.Action("Category", "Product")">Category Setup</a>
                        </div>
                    </li>
                </ul>
                <p class="nav navbar-text navbar-right">@employeeDetails.FirstNm  @employeeDetails.LastNm</p>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - ChooseYourShoes</p>
        </footer>
</div> 
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/lib")
    @RenderSection("scripts", required: false)
</body> 
</html>
